/* Styles pour la section d'information */
.info-section {
    background-color: #121212; /* Même fond que la boîte de chat */
    display: flex; /* Utilisation de flexbox pour aligner l'image et le texte */
    flex-direction: row-reverse; /* Place l'image à droite du texte */
    align-items: center; /* Centre verticalement les éléments */
    justify-content: center; /* Centre horizontalement le contenu */
    padding: 40px 20px; /* Espacement */
    color: #ffffff; /* Couleur du texte */
    text-align: center; /* Centre le texte à l'intérieur de info-text */
}

/* Styles pour la photo de profil */
.profile-photo {
    width: 200px; /* Largeur de la photo */
    height: 320px; /* Hauteur de la photo pour conserver le ratio d'aspect */
    border-radius: 30%; /* Arrondir la photo */
    margin-left: 40px; /* Augmente l'espacement à gauche de l'image */
    object-fit: cover; /* Garde le ratio d'aspect */
}

/* Styles pour le texte d'information */
.info-text {
    margin-top: 0; /* Supprime l'espacement au-dessus du texte */
}

/* Styles pour les titres */
h1, h2, h3 {
    margin: 10px 0; /* Espacement autour des titres */
}

h1 {
    font-size: 3rem; /* Augmente la taille de "Bienvenue sur mon portfolio" */
}

/* Animations */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Animation pour le titre principal */
.animate-title {
    animation: fadeIn 1s ease-out forwards; /* Animation plus lente pour le titre principal */
}

/* Animation pour les sous-titres */
.animate-fadein {
    animation: fadeIn 1.5s ease-out forwards;
}

/* Animation au hover pour les titres */
h1:hover, h2:hover, h3:hover {
    color: #FFD700; /* Change la couleur au hover */
    transform: scale(1.05); /* Légère augmentation de l'échelle */
    transition: color 0.3s ease, transform 0.3s ease; /* Transition douce */
}

/* Animation au hover pour la photo de profil */
.profile-photo:hover {
    transform: scale(1.1); /* Zoom léger */
    transition: transform 0.3s ease; /* Transition douce */
}

