/* Styles pour le titre principal */
h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    padding-top: 70px;
    text-align: center;
    color: #ffffff;
    transition: color 0.3s, text-shadow 0.3s;
    text-shadow: 0px 0px 10px rgba(255, 204, 0, 0.8);
}

h1:hover {
    color: #ffcc00;
    text-shadow: 0px 0px 20px rgba(255, 204, 0, 1);
}

h2:hover {
    color: #ffcc00;
}

/* Wrapper pour limiter la taille du graphique principal */
.chart-container {
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 60px;
}

/* Canvas responsive */
canvas {
    width: 100% !important;
    height: auto !important;
}

/* Éléments d'introduction */
.intro-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    margin: 20px auto;
    text-align: center;
    max-width: 70vw; /* Limite la largeur du texte */
    transition: transform 0.3s, color 0.3s;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.intro-text:hover {
    transform: scale(1.05);
    color: #ffcc00;
}

/* Texte explicatif du graphique */
.graph-explanation {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    color: #ffffff;
    margin: 20px auto;
    text-align: center;
    max-width: 70vw;
    transition: color 0.3s, text-shadow 0.3s;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    line-height: 1.6; /* Pour plus de lisibilité */
}

.graph-explanation:hover {
    color: #ffcc00;
}

/* Titre pour chaque graphique */
.graph-title {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Wrapper pour le Doughnut Chart */
.doughnut-container {
    width: 40vw;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px 0;
    box-sizing: border-box;
}

/* Canvas pour Doughnut */
.doughnut-chart {
    width: 100% !important;
    height: auto !important;
    max-height: 400px;
}

/* Wrapper pour le Radar Chart */
.radar-container {
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

/* Styles pour les drapeaux et la section langues */
.language-section {
    text-align: center; /* Centrer le texte et les drapeaux */
    margin-top: 40px; /* Ajouter un espace au-dessus */
    margin-bottom: 40px; /* Ajouter un espace en dessous */
}

.language-section ul {
    list-style: none; /* Supprimer les puces */
    padding: 0; /* Supprimer le padding */
    display: flex; /* Utiliser flexbox pour l'alignement */
    justify-content: center; /* Centrer les éléments */
    flex-wrap: wrap; /* Permettre de passer à la ligne */
    gap: 20px; /* Espace entre les éléments de la liste */
}

.language-section li {
    margin: 30px 0; /* Espacement vertical supplémentaire pour chaque langue */
    transition: transform 0.3s; /* Transition pour l'effet hover */
    margin-left: 50px;
}

.language-section li:hover {
    transform: scale(1.1); /* Agrandir au survol */
}

.language-flag {
    width: 100px; /* Augmentation de la taille du drapeau */
    height: auto; /* Garder les proportions */
    vertical-align: middle; /* Aligner avec le texte */
    margin-right: 10px; /* Espacement entre le drapeau et le texte */
}


/* Responsivité pour petits écrans */
@media (max-width: 600px) {
    canvas {
        width: 95vw;
        height: auto;
    }

    .intro-text, .graph-explanation, .doughnut-explanation, .graph-title {
        font-size: 1em;
        max-width: 90%; /* Utilise jusqu'à 90% de la largeur de l'écran */
    }

    .doughnut-container {
        width: 80vw;
        height: auto;
    }

    .language-flag {
        width: 70px; /* Réduire la taille du drapeau pour mobile */
    }

    .language-section ul {
        flex-direction: column; /* Disposition verticale sur mobile */
        align-items: center;
    }
}

/* Écrans moyens (tablettes) */
@media (min-width: 601px) and (max-width: 1024px) {
    canvas {
        width: 90vw;
        height: auto;
    }

    .intro-text, .graph-explanation, .doughnut-explanation, .graph-title {
        font-size: 1.1em;
    }

    .doughnut-container {
        width: 50vw;
    }
}

/* Grands écrans (ordinateurs) */
@media (min-width: 1025px) {
    canvas {
        max-width: 800px;
        height: auto;
    }
}

/* Espacement pour d'autres sections pour plus d'aération */
.chart-container, .doughnut-container, .radar-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.intro-text, .graph-explanation {
    margin-top: 30px;
    margin-bottom: 30px;
}