h1 {
    font-size: 2.5em;          /* Taille de la police */
    margin-bottom: 30px;      /* Marge en dessous */
    padding-top: 40px;        /* Espace au-dessus du titre */
    text-align: center;        /* Centrer le texte */
    color: #ffffff;           /* Couleur blanche pour le titre */
}

/* Changement de couleur au survol */
h1:hover {
    color: #ffcc00; /* Couleur au survol */
}

/* Styles pour le canvas */
canvas {
    width: 100% !important; /* Largeur du graphique */
    max-width: 800px; /* Largeur maximale */
    height: 400px; /* Hauteur fixe */
    margin: 0 auto; /* Centrer le graphique */
}
