/* FOOTER */
footer {
    background: #1f1f1f;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #444; /* Bordure gris foncé */
    margin-top: auto; /* Assurez-vous que cela est présent */
    width: 100%;
}

/* Changer le texte du footer en jaune au survol */
footer p:hover {
    color: #ffcc00; /* Jaune doré au survol */
    transition: color 0.3s ease; /* Transition douce de couleur */
}
