/* Styles pour le menu burger */
#menu-container {
    position: relative;
}

.menu-icon {
    position: fixed; /* Rend l'icône sticky */
    top: 20px; /* Distance par rapport au haut de la page */
    right: 20px; /* Distance par rapport à la droite */
    font-size: 30px; /* Taille de l'icône */
    color: #fff; /* Couleur de l'icône */
    cursor: pointer; /* Curseur en main */
}

.menu-icon:hover {
    color: #ffcc00; /* Changer de couleur au survol */
}

/* Styles pour le menu */
#menu {
    position: fixed; /* Rendre le menu fixe */
    top: 0;
    left: 0;
    width: 100%; /* Prendre toute la largeur de l'écran */
    height: 100%; /* Prendre toute la hauteur de l'écran */
    background-color: rgba(0, 0, 0, 0.99); /* Fond noir transparent */
    color: #fff; /* Couleur du texte */
    display: flex; /* Utiliser flexbox pour centrer le contenu */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    opacity: 0; /* Commence invisible */
    transform: translateY(-100%); /* Positionner le menu hors de l'écran */
    transition: opacity 0.5s, transform 0.5s; /* Animation d'ouverture */
    z-index: 999; /* Assurez-vous que le menu est au-dessus */
    visibility: hidden; /* Cacher le menu au départ */
}

/* Classes d'état pour afficher le menu */
#menu.visible {
    opacity: 1; /* Rendre le menu visible */
    transform: translateY(0); /* Faire glisser le menu dans la vue */
    visibility: visible; /* Rendre visible */
}

/* Classe pour cacher le menu */
#menu.hidden {
    opacity: 0; /* Cacher le menu */
    transform: translateY(-100%); /* Remettre le menu hors de l'écran */
    visibility: hidden; /* Assurer que le menu n'est pas visible */
}

/* Styles pour le contenu du menu */
.menu-content {
    text-align: center; /* Centrer le texte */
}

.menu-content ul {
    list-style: none; /* Supprimer les puces de la liste */
    padding: 0; /* Enlever le padding */
}

.menu-content li {
    margin: 20px 0; /* Espacement entre les éléments */
}

/* Augmenter la taille du texte du menu */
.menu-content a {
    color: #fff; /* Couleur des liens */
    text-decoration: none; /* Supprimer le soulignement */
    font-size: 28px; /* Taille de la police augmentée */
    position: relative; /* Nécessaire pour l'effet de soulignement */
    transition: color 0.3s ease, background-color 0.3s ease; /* Transition pour les changements de couleur */
}


/* Effet au hover pour les liens */
.menu-content a:hover {
    color: #ffcc00; /* Couleur du texte au survol */
    background-color: rgba(255, 255, 255, 0.1); /* Couleur de fond au survol */
    padding: 5px; /* Ajoute un espacement */
    border-radius: 5px; /* Arrondi les coins */
}

/* Effet de survol jaune pour la croix de fermeture */
.close {
    font-size: 80px; /* Taille du bouton de fermeture */
    position: absolute; /* Positionner le bouton en haut à droite */
    top: 20px;
    right: 30px;
    cursor: pointer; /* Changer le curseur sur hover */
    color: #fff; /* Couleur par défaut de la croix */
    transition: color 0.3s ease; /* Transition pour le hover */
}

/* Couleur jaune au survol pour la croix de fermeture */
.close:hover {
    color: #ffcc00; /* Couleur jaune au survol */
}