/* Styles pour le menu burger */
#menu-container {
    position: relative;
}

#menu-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px; /* Largeur du bouton du menu */
    height: 30px; /* Hauteur du bouton du menu */
    margin: 10px; /* Espacement autour du bouton */
    z-index: 1000; /* Assurez-vous que le bouton est au-dessus */
}

.bar {
    height: 4px; /* Hauteur de chaque barre */
    width: 100%; /* Largeur des barres */
    background-color: #fff; /* Couleur des barres */
    margin: 3px 0; /* Espacement entre les barres */
    transition: all 0.3s; /* Animation */
}

/* Styles pour le menu */
#menu {
    position: fixed; /* Rendre le menu fixe */
    top: 0;
    left: 0;
    width: 100%; /* Prendre toute la largeur de l'écran */
    height: 100%; /* Prendre toute la hauteur de l'écran */
    background-color: rgba(0, 0, 0, 0.9); /* Fond noir transparent */
    color: #fff; /* Couleur du texte */
    display: flex; /* Utiliser flexbox pour centrer le contenu */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    opacity: 0; /* Commence invisible */
    transform: translateY(-100%); /* Positionner le menu hors de l'écran */
    transition: opacity 0.5s, transform 0.5s; /* Animation d'ouverture */
    z-index: 999; /* Assurez-vous que le menu est au-dessus */
}

/* Classes d'état pour afficher le menu */
#menu.visible {
    opacity: 1; /* Rendre le menu visible */
    transform: translateY(0); /* Faire glisser le menu dans la vue */
}

/* Styles pour le contenu du menu */
.menu-content {
    text-align: center; /* Centrer le texte */
}

.menu-content ul {
    list-style: none; /* Supprimer les puces de la liste */
    padding: 0; /* Enlever le padding */
}

.menu-content li {
    margin: 20px 0; /* Espacement entre les éléments */
}

.menu-content a {
    color: #fff; /* Couleur des liens */
    text-decoration: none; /* Supprimer le soulignement */
    font-size: 24px; /* Taille de la police */
}

/* Style pour le bouton de fermeture */
.close {
    font-size: 40px; /* Taille du bouton de fermeture */
    position: absolute; /* Positionner le bouton en haut à droite */
    top: 20px;
    right: 30px;
    cursor: pointer; /* Changer le curseur sur hover */
}
