/* Styles globaux */
.projets-section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
    color: #ffffff;
    text-align: center;
}

.projets-section h1 {
    font-size: 2.5em;
    margin-bottom: 50px;
    padding-top: 70px;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(255, 204, 0, 0.8);
    transition: color 0.3s, text-shadow 0.3s;
}

.projets-section h1:hover {
    color: #ffcc00;
    text-shadow: 0px 0px 20px rgba(255, 204, 0, 1);
}

/* Styles de la grille et des éléments */
.projets-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.projets-item {
    flex: 1 0 300px;
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    padding: 35px;
    align-items: center;
    border: 2px solid #ffcc00;
    margin-bottom: 40px;
}

.projets-item:hover {
    transform: scale(1.03);
}

/* Effet hover individuel pour h2 et p */
h2.projets-info {
    font-size: 1.5em;
    color: #ffffff;
    transition: color 0.3s ease;
    margin-bottom: 20px; /* Ajout d'un espacement entre les h2 et les p */
}

h2.projets-info:hover {
    color: #ffcc00;
}

p.projets-info {
    font-size: 1.1em;
    color: #ffffff;
    transition: color 0.3s ease;
    margin-bottom: 20px; /* Ajout d'un espacement entre les h2 et les p */
}

p.projets-info:hover {
    color: #ffcc00;
}

/* Style pour les liens */
a {
    color: #ffcc00;
    text-decoration: underline;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

a:hover {
    font-weight: bold;
}

/* Style pour les en-têtes de section */
.section-header {
    margin: 80px 0 40px;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 30px;
    border-bottom: 2px solid #ffcc00;
    color: white;
    text-align: center;
    transition: color 0.3s ease;
}

.section-header:hover {
    color: #ffcc00;
}

/* Mise en page responsive */
@media (min-width: 600px) {
    .projets-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .projets-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Style vidéo pour conteneur responsive */
.video-container,
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    max-width: 100%;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    max-width: 800px;
    margin: auto;
}
