/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Noir adouci */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Cela garantit que le body prend toute la hauteur de la fenêtre */
}